/* body {
    margin: 0;
  } */
  html {
    box-sizing: border-box;
    background: #a98ccf;
    text-align: center;
}
body {
    font-size: 1em;
    line-height: 1.5;
    font-family: Lucida Grande, sans-serif;
    max-width: 43.75em; /* 880/16 */
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    color: #b6e6e4;
}  
ul {
    list-style-type: none;
    z-index:9;
    padding:0;
}

#contact{
    transform: translateY(-80%);
}
li a {
    display: block;
    color: rgb(191, 223, 253);
    padding: 8px 16px;
    text-decoration: none;
  }
a:hover {
    color: rgb(200, 230, 250);
}
#sidepane{
    position: absolute;
    width:25vw;
    height: 100%;
    z-index:5;
    top:0;
    left: 0;
    display: block;
    background-color:#005;
}
input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}
#love{
    transform: translateY(25%);
}


#ham{
    position: absolute;
    bottom:2.5rem;
    left: 2.5rem;
    border-radius: 100%;
    background-color: rgb(0, 14, 51);
    padding:1rem;
    box-shadow: rgb(73, 73, 73) 2px 2px 2px;
    display:none;
    z-index:4;
}

#sosmob{
    position: absolute;
    bottom:8rem;
    left: 2.5rem;
    border-radius: 100%;
    background-color: #f00;
    padding:1rem;
    box-shadow: rgb(73, 73, 73) 2px 2px 2px;
    display:none;
    z-index:4;
    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9;
    
  }

  .modal input{
      padding: 1rem;
      margin: 0.2rem auto;
      font-size: 1.5rem;
      width:70%;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#searchfield{
    padding: 1rem;
    width:80%;
    margin:auto;
}
#direct{
    padding:0.1rem;
    margin: 1rem auto;
    border-radius : 30px 30px;
    border-style: solid;
    border-width: 2px;  
    border-color: #fff;  
    color:white;
    font-size:1.5rem;
    width:70%;
    transition: background-color 1s;
}
#direct:hover{
    background-color: #fff;
    color:rgb(0, 14, 51);
    cursor: pointer;
}

#direct:focus{
    background-color: #fff;
    color:rgb(0, 14, 51);
    cursor: pointer;
}

#sosdiv{
    bottom: 1rem;
    position: absolute;
    width:100%;
}

#sosbutton{
    padding:0.1rem;
    margin: 1rem auto;
    border-radius : 30px 30px;
    border-style: solid;
    border-width: 2px;  
    border-color: #fff;  
    color:#fff;
    font-size:1.5rem;
    width:70%;
    transition: background-color 1s;
}
#sosbutton:hover{
    background-color: #f00;
    color:#fff;
    cursor: pointer;
}

#sosbutton:focus{
    background-color:#f00;
    color:#fff;
    cursor: pointer;
}


#savecontact{
    padding:0.1rem;
    margin: 1rem auto;
    border-radius : 30px 30px;
    border-style: solid;
    border-width: 2px;  
    border-color: #005;  
    color:#005;
    font-size:1.5rem;
    width:30%;
    transition: background-color 1s;
}

#savecontact:hover{
    background-color: #005;
    color:rgb(255, 255, 255);
    cursor: pointer;
}

#savecontact:focus{
    background-color: #005;
    color:rgb(255, 255, 255);
    cursor: pointer;
}

input[type=search] {
    background: #ededed url(./Icons/Pin.png) no-repeat 5px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 75%;
    margin: 10px 0;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 78%;
    background-color: #fff;
    border-color: rgb(250, 195, 252);
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


li a:hover:not(.active) {
    background-color: #555;
    color: white;
    cursor: pointer;
}

li a:focus:not(.active) {
    background-color: #555;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #sidepane{
        transform: translateX(-100%);
        width: 70%;
    }

    

    #ham, #sosmob{
        display: block;
    }

    .modal-content{
        width: 80%;
    }

    .modal input{
        width: 100%;
    }

    #savecontact{
        width:80%;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }