/* body {
    margin: 0;
  } */
  html {
    box-sizing: border-box;
    background: #a98ccf;
    text-align: center;
}
body {
    font-size: 1em;
    line-height: 1.5;
    font-family: Lucida Grande, sans-serif;
    max-width: 43.75em; /* 880/16 */
    margin: 0;
    padding: 0;
    color: #b6e6e4;
}  
ul {
    list-style-type: none;
    z-index:9;
    
}
li a {
    display: block;
    color: rgb(191, 223, 253);
    padding: 8px 16px;
    text-decoration: none;
  }
a:hover {
    color: rgb(200, 230, 250);
}
#sidepane{
    position: absolute;
    width:25vw;
    height: 100%;
    z-index:5;
    top:0;
    left: 0;
    background-color:#005;
}
input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}
#love{
    transform: translateY(25%);
}


#ham{
    position: absolute;
    bottom:2.5rem;
    left: 2.5rem;
    border-radius: 100%;
    background-color: rgb(0, 14, 51);
    padding:1rem;
    box-shadow: rgb(73, 73, 73) 2px 2px 2px;
    display:none;
    z-index:4;
}

input[type=search] {
    background: #ededed url(./Icons/Pin.png) no-repeat 5px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 75%;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 78%;
    background-color: #fff;
    border-color: rgb(250, 195, 252);
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

li{
    padding:2rem;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 800px) {
    #sidepane{
        transform: translateX(-100%);
        width: 70%;
    }
    #ham{
        display: block;
    }
}